<?xml version="1.0" encoding="UTF-8"?>
<!--
- - Created by   : Dmitry Shirokovskiy.
- - Email        : info@phpwebstudio.com
- - Created at   : 14.07.19, 21:32
- - Description  :
-->
<config>
    <modules>
        <Phpwebstudio_Sizechart>
            <version>1.0.0</version>
        </Phpwebstudio_Sizechart>
    </modules>

    <global>
        <models>
            <sizechart>
                <class>Phpwebstudio_Sizechart_Model</class>
            </sizechart>
        </models>

        <resources>
            <sizechart_setup>
                <setup>
                    <module>Phpwebstudio_Sizechart</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </sizechart_setup>
        </resources>

        <events>
            <catalog_product_save_before>
                <observers>
                    <sizechart_updater>
                        <class>sizechart/observer</class>
                        <method>updateSizechart</method>
                    </sizechart_updater>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
</config>
